.pull-right{
	margin-top:10px;
}
.customer-index-header {
	height:60px;
}
.customer-index-header .logo{
	float:left;
}
.customer-index-header .searcher{
	margin-left: 400px;
	padding-top: 15px
}
.customer-index-header .searcher .button{
	padding-top: 10px;
	width: 78px;
}
.customer-index-header .cart{
	float:right;
	padding-top: 20px;
}
.customer-footer{
	height: 80px;
}
.customer-footer-col-first{
	float: left;
}
.customer-footer-col{
	float: left;
	padding-left: 250px;
}