@CHARSET "UTF-8";
.pull-right{
	margin-top:10px;
}
.customer-index-header {
	height:60px;
}
.customer-index-header .logo{
	float:left;
}
.customer-index-header .searcher{
	margin-left: 400px;
	padding-top: 15px
}
.customer-index-header .searcher .button{
	padding-top: 10px;
	width: 78px;
}
.customer-index-header .cart{
	float:right;
	padding-top: 20px;
	padding-right: 50px;
}