<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.BaseFeatureMapper">
	<select id="getBaseFeatureById" parameterType="int" resultType="BaseFeature">
		select vid as id, vname as name from itempropertyvalue where vid = #{id}
	</select>
</mapper>