<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.BrandMapper">
	<select id="getBrandListByPage" parameterType="Page" resultType="Brand">
		select * from brand order by id desc limit #{numBegin},#{pageSize}
	</select>
	<select id="getBrandList" resultType="Brand">
		select * from brand order by id desc
	</select>
	<select id="getBrandById" parameterType="int" resultType="Brand">
		select * from brand where id = #{id}
	</select>
	<insert id="insertBrand" parameterType="Brand">
		insert into brand(name, description, sellerId) values(#{name}, #{description}, #{sellerId})
	</insert>
	<delete id="deleteBrand" parameterType="int">
		delete from brand where id = #{id}
	</delete>
	<update id="updateBrand" parameterType="Brand">
		update brand set name = #{name}, nameInChinese = #{nameInChinese}, description = #{description}, descriptionInChinese = #{descriptionInChinese}, status = #{status} where id = #{id}
	</update>
		<select id="getBrandListByPageAndStatus" resultType="Brand">
		select * from brand where status = #{status} limit #{page.numBegin}, #{page.pageSize}
	</select>
</mapper>