<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.CustomerMapper">
	<select id="getCustomerByEmail" parameterType="String" resultType="Customer">
		select * from customer where email = #{email}
	</select>
	
	<select id="getCustomerByEmailAndPassword" parameterType="String" resultType="Customer">
		select * from customer where email = #{param1} and password = #{param2}
	</select>
	
	<insert id="insertCustomer" parameterType="Customer">
		insert into customer(email, password, accountstatus) values(#{email}, #{password}, #{accountStatus}) 
	</insert>
	<update id="updatePassword" parameterType="Customer">
	    update customer set password = #{password} where email = #{email}
	</update>
	
	<select id="getCustomerListByPage" parameterType="Page" resultType="Customer">
		select id, email, password, accountstatus as accountStatus from customer order by id desc limit #{numBegin}, #{pageSize}
	</select>
	
	<update id="active" parameterType="int">
		update customer set accountstatus = 3 where id = #{id}	    
	</update>
	<update id="disActive" parameterType="int">
		update customer set accountstatus = 2 where id = #{id}	    
	</update>
	
</mapper>