<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.FinanceUnitMapper">

	<select id="getFinanceUnitById" parameterType="int" resultType="FinanceUnit">
		select * from financeUnit where id = #{id}
	</select>
	<select id="getFinanceUnitsByRelatedIdAndDetailsType" parameterType="int" resultType="FinanceUnit">
		select * from financeUnit where relatedId = #{relatedId} and financeDetailsType = #{financeDetailsType}	and receiver like "%"#{userType}"%"   
	</select>
	<select id="getFinanceUnitsByRelatedIdAndRelatedType" parameterType="int" resultType="FinanceUnit">
		select * from financeUnit where relatedId = #{relatedId} and relatedType = #{relatedType}
	</select>

	<insert id="insert" parameterType="FinanceUnit">
		insert into financeUnit(receiver, sender, money, createAt, financeType, financeDetailsType, relatedId, relatedType, status, over, coinage, comment)
		values(
			#{receiver}, #{sender}, #{money}, #{createAt}, #{financeType}, ${financeDetailsType}, #{relatedId}, #{relatedType}, #{status}, #{over}, #{coinage}, #{comment}
		)
	</insert>
	<update id="update" parameterType="FinanceUnit">
		update financeUnit set over = #{over}, status = #{status}, 
			comment = #{comment}, money = #{money},
			createAt = #{createAt}
			where id = #{id}
	</update>
	
	<update id="batchUpdate">
		update financeUnit set status = #{status} where id in 
		<foreach collection="idset" item="id"  open="(" separator="," close=")">  
	        #{id}  
	    </foreach>
	</update>
	
	<select id="getFinanceByReceiverByPage" resultType="FinanceUnit">
		select * from financeUnit where receiver = #{receiver} order by id desc 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="getFinanceBySenderByPage" resultType="FinanceUnit">
		select * from financeUnit where sender = #{sender} order by id desc 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="getFinanceByReceiverAndMonthByPage" resultType="FinanceUnit">
		select * from financeUnit where receiver = #{receiver} and <![CDATA[ createAt >= #{begin} and createAt < #{end} ]]> order by id desc 
		 <if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="getFinanceBySenderAndMonthByPage" resultType="FinanceUnit">
		select * from financeUnit where sender = #{sender} and <![CDATA[ createAt >= #{begin} and createAt < #{end} ]]> order by id desc
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<delete id="delete" parameterType="int">
		delete from financeUnit where id = #{id}
	</delete>
</mapper>