<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.FinanceRecordMapper">
	<select id="getFinanceRecordById" parameterType="int" resultType="FinanceRecord">
		select * from financeRecord where id = #{id}
	</select>
	<select id="getFinanceRecordsByPage" parameterType="Page" resultType="FinanceRecord">
		select * from financeRecord order by id desc limit #{numBegin},#{pageSize}
	</select>
	<insert id="insert" parameterType="FinanceRecord">
		insert into financeRecord(
			receiver, unitIds, createAt, status, orderMoney, 
			translationMoney, storeMoney, serviceMoney, otherMoney, 
			totalGetFromAdmin, totalPayAdmin, total, coinage, beginDate, endDate
		) 
		values(
			#{receiver}, #{unitIds}, #{createAt}, #{status}, #{orderMoney},
			#{translationMoney}, #{storeMoney}, #{serviceMoney}, #{otherMoney},
			#{totalGetFromAdmin}, #{totalPayAdmin}, #{total}, #{coinage}, #{beginDate}, #{endDate}
		)
	</insert>
	<update id="update">
		update financeRecord set status = #{status} where id = #{id}
	</update>
	<select id="getFinanceRecordsByReceiverByPage" resultType="FinanceRecord">
		select * from financeRecord where receiver = #{receiver} 
		<if test="page != null">
			limit #{page.numBegin},#{page.pageSize}
		</if>
	</select>
</mapper>