<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ItemMapper">
    <insert id="insertItem" parameterType="Item" useGeneratedKeys="true">
        insert into item(
        	sku, name, nameInChinese, featureJson, image, retailPrice, promotionPrice,
        	promotionTime, promotionEnd, wholePrice, minimumQuantity, maximumAcceptQuantity,
        	availableQuantity, safeStock, productId, coinage, categoryId, sellerId, active, status, productLineId, sellable,
        	internationalShippingService, internationalShippingFee, internationalPromiseDays, countryCode
        )values(
        	#{sku}, #{name}, #{nameInChinese}, #{featureJson}, #{image}, #{retailPrice},#{promotionPrice},
        	#{promotionTime}, #{promotionEnd}, #{wholePrice}, #{minimumQuantity},#{maximumAcceptQuantity},
        	#{availableQuantity},#{safeStock}, #{productId}, #{coinage}, #{categoryId}, #{sellerId}, #{active}, #{status}, #{productLineId}, #{sellable},
        	#{internationalShippingService}, #{internationalShippingFee}, #{internationalPromiseDays}, #{countryCode}
        )
    	<selectKey keyProperty="id" resultType="int" order="AFTER">  
	        SELECT LAST_INSERT_ID()
	    </selectKey> 
    </insert>
    <update id="updateItem" parameterType ="Item">
    	update item set sku = #{sku}, name = #{name}, nameInChinese = #{nameInChinese}, featureJson = #{featureJson}, image = #{image},
    		retailPrice = #{retailPrice}, promotionPrice = #{promotionPrice}, promotionTime = #{promotionTime}, promotionEnd = #{promotionEnd},
    		wholePrice = #{wholePrice}, minimumQuantity = #{minimumQuantity}, maximumAcceptQuantity = #{maximumAcceptQuantity}, availableQuantity = #{availableQuantity},
    		safeStock = #{safeStock}, active = #{active}, status = #{status}, sellable = #{sellable}, categoryId = #{categoryId} , internationalShippingService = #{internationalShippingService},
    		internationalShippingFee =#{internationalShippingFee}, internationalPromiseDays =#{internationalPromiseDays},countryCode =#{countryCode}
    		where id = #{id}
    </update>
    <update id="updateSku" parameterType="Item">
        update item set sku = #{sku} where id = #{id}
    </update>
    <select id="getItemById" parameterType="int" resultType="Item">
        select * from item where id = #{id}
    </select>
    <select id="getItemBySku" parameterType="String" resultType="Item">
        select * from item where sku = #{sku}
    </select>
    <select id="getItemByFeatureAndProductId" resultType="Item">
        select * from item where featureJson = #{feature} and productId = #{productId}
    </select>
    <select id="getItemListByPage" parameterType="Page" resultType="Item">
        select * from item order by id desc limit #{numBegin},#{pageSize}
    </select>
    <!-- 
    <select id="getItemsByProductId" parameterType="int" resultType="Item">
        select * from item where productId = #{productId}
    </select>
     -->
    <select id="getItemsByProductIdAndStatus" resultType="Item">
        select * from item where productId = #{productId}
        <if test = "status != null">
        and status = #{status}
        </if>
    </select>
    <select id="getSellAbleItemsByProductId" resultType="Item">
        select * from item where productId = #{productId} and sellable = #{sellable} and status = 8
    </select>
    <update id="updateProductLine" parameterType = "Item">
    	update item set productLineId = #{productLineId} where id = #{id}
    </update>
    <update id="updateStock">
    	update item set availableQuantity = #{stock} where id = #{itemId}
    </update>
</mapper>