<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ItemSubPropertyMapper">
	<select id="getItemSubPropertyListByCategoryId" parameterType="int" resultType="ItemSubProperty">
		select pid, pname, english, vid, mustproperty as mustProperty, isChinese from itemproperty where cid = #{cid}
	</select>
	<select id="getItemSubPropertyByPid" parameterType="int" resultType="ItemSubProperty">
		select pid, pname, english, vid, mustproperty as mustProperty, isChinese from itemproperty where pid = #{pid} and cid = #{cid}
	</select>
	<select id="getItemSubPropertyById" parameterType="int" resultType="ItemSubProperty">
		select pid, pname, english, isChinese, mustproperty, vid  from itemproperty where pid = #{id}  limit 1
	</select>
	
	<select id="getItemSubPropertyListByPage" parameterType="Page" resultType="ItemSubProperty">
		select distinct(pid), pname, english, isChinese, mustproperty, vid  from itemproperty limit #{numBegin}, #{pageSize}
	</select>
	<update id="updateItemSubPropertyById" parameterType="ItemSubProperty">
		update itemproperty set pname = #{pname}, english = #{english} where pid = #{pid}
	</update>
	
</mapper>