<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.OrderRecordMapper">

	<insert id="insertOrderRecord" parameterType="OrderRecord">
		insert into orderRecord(orderId, comment, commentInEnglish, userId, username, createAt) 
		values(#{orderId}, #{comment}, #{commentInEnglish}, #{userId}, #{username}, #{createAt})
	</insert>

	<select id="getOrderRecordsByOrderId" parameterType="int" resultType="OrderRecord">
		select * from orderRecord where orderId = #{orderId}
	</select>

</mapper>