<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.OrderMapper">
	<insert id="insertOrder" parameterType="Order" useGeneratedKeys="true">
		insert into orders(
			orderPrice, transferPrice, price, createAt, name, address, 
			city, country, postCode, customerId, sellerId, sellerName, parentId, orderStatus
		)values(
			#{orderPrice}, #{transferPrice}, #{price}, #{createAt}, #{name}, #{address},
			#{city}, #{country}, #{postCode}, #{customerId}, #{sellerId}, #{sellerName}, #{parentId}, #{orderStatus}
			)
		<selectKey keyProperty="id" resultType="int" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<select id="getOrderById" parameterType="int" resultType="Order">
		select * from orders where id = #{id}
	</select>
	<update id="updateOrder" parameterType="Order">
		update orders set orderPrice = #{orderPrice}, transferPrice = #{transferPrice}, price = #{price}, 
			name = #{name},	address = #{address}, city = #{city}, country = #{country}, postCode = #{postCode},
			orderStatus = #{orderStatus}, sendAt = #{sendAt}, carrier = #{carrier}, trackingWeb = #{trackingWeb}, trackingId = #{trackingId}
		where id = #{id}
	</update>
	<select id="getCustomerOrdersByPage" resultType="Order">
		select * from orders where customerId = #{customerId} order by id desc limit #{page.numBegin}, #{page.pageSize}
	</select>
	<select id="getSellerOrdersByPage" resultType="Order">
		select * from orders where sellerId = #{sellerId} order by id desc limit #{page.numBegin}, #{page.pageSize}
	</select>
	<select id="getOrdersByPage" resultType="Order">
		select * from orders order by id desc limit #{page.numBegin}, #{page.pageSize}
	</select>
	<select id="getCustomerOrdersByStatusAndPage" resultType="Order">
		select * from orders where customerId = #{customerId} and orderStatus = #{status} order by id desc limit #{page.numBegin}, #{page.pageSize}
	</select>
	<select id="getSellerOrdersByStatusAndPage" resultType="Order">
		select * from orders where sellerId = #{sellerId} and orderStatus = #{status} order by id desc limit #{page.numBegin}, #{page.pageSize}
	</select>
	<select id="getOrdersByStatusAndPage" resultType="Order">
		select * from orders where orderStatus = #{status}  order by id desc limit #{page.numBegin}, #{page.pageSize}
	</select>
</mapper>