<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.OrderItemMapper">

	<insert id="insertOrderItem" parameterType="OrderItem">
		insert into orderItem(
			itemId, sku, productId, name, coinage, sellerId, num, price, priceRMB, orderId, internationalShippingService, internationalShippingFee, ifeeRMB, internationalPromiseDays, countryCode
		)values(
			#{itemId}, #{sku}, #{productId}, #{name}, #{coinage}, #{sellerId}, #{num}, #{price}, #{priceRMB}, #{orderId}, #{internationalShippingService}, #{internationalShippingFee}, #{ifeeRMB}, #{internationalPromiseDays}, #{countryCode}
		)
	</insert>
	
	<select id="getOrderItemsByOrderId" resultType="OrderItem" parameterType="int">
		select * from orderItem where orderId = #{orderId}
	</select>

	<select id="getOrderItemById" resultType="OrderItem" parameterType="int">
		select * from orderItem where id = #{id}
	</select>
</mapper>