<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.PasswordKeyMapper">
	<select id="getPasswordKeyList" resultType="PasswordKey">
		select * from passwordkey where userType = #{userType} and email = #{email} order by id desc
	</select>
	<insert id="insertPasswordKey" parameterType="PasswordKey">
		insert into passwordkey(userType, email, secret) values(#{userType}, #{email}, #{secret}) 
	</insert>
</mapper>