<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ProductMapper">
	<select id="getProductById" parameterType="int" resultType="Product">
		select * from product where id = #{id}
	</select>
	<select id="getProductListByPage" parameterType="Page" resultType="Product">
		select * from product order by id desc limit #{numBegin}, #{pageSize}
	</select>
	<select id="getProductListByPageAndSeller" resultType="Product">
		select * from product where sellerId = #{sellerId} order by id desc 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="getProductListByPageAndStatus" resultType="Product">
		select * from product where status = #{status} order by id desc 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="getSellableProductListByPage" resultType="Product">
		select * from product where sellable = #{sellable} and status = #{status} order by id desc
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="getProductsInCategoryByPage" resultType="Product">
		select * from product where productLine = #{categoryId} order by id desc 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<select id="searchProductByName" resultType="Product">
		select * from product where nameInChinese like "%"#{name}"%" 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
	<update id="changeProductsOfSeller">
		update product set sellable = #{sellable} where sellerId = #{sellerId} and status = #{status}
	</update>
	<insert id="insertProduct" parameterType="Product">
	    insert into product(
	    	name, description,sku,
	    	retailPrice, promotionPrice, promotionTime, promotionEnd, wholePrice,
	    	minimumQuantity, maximumAcceptQuantity, availableQuantity, safeStock, active, sellable, 
	    	status, internationalShippingService, internationalShippingFee, internationalPromiseDays,
	    	netWeight, grossWeight, sizeWithPackage, mainImage, subImages, brandId, hasChildren, coinage,
	    	sellerId, productTypeId, productLine, countryCode)
	    values(
	    	#{name},#{description},#{sku},
	    	#{retailPrice},#{promotionPrice},#{promotionTime}, #{promotionEnd}, #{wholePrice},
	    	#{minimumQuantity},#{maximumAcceptQuantity},#{availableQuantity},#{safeStock},#{active}, #{sellable},
	    	#{status}, #{internationalShippingService}, #{internationalShippingFee}, #{internationalPromiseDays},
	    	#{netWeight},#{grossWeight},#{sizeWithPackage},#{mainImage},#{subImages},#{brandId}, #{hasChildren}, #{coinage},
	    	#{sellerId},#{productTypeId}, #{productLine}, #{countryCode}
	    )
	    <selectKey keyProperty="id" resultType="int">  
	        select @@identity as id
	    </selectKey>  
	</insert>
	<update id="updateProduct" parameterType="Product">
		update product set name=#{name}, description = #{description}, nameInChinese = #{nameInChinese}, descriptionInChinese = #{descriptionInChinese},sku = #{sku},
		status = #{status}, hasChildren = #{hasChildren}, sellable = #{sellable}, 
		internationalShippingService = #{internationalShippingService}, internationalShippingFee = #{internationalShippingFee}, internationalPromiseDays = #{internationalPromiseDays},
		retailPrice = #{retailPrice}, promotionPrice = #{promotionPrice}, promotionTime = #{promotionTime}, promotionEnd = #{promotionEnd}, wholePrice = #{wholePrice},
		minimumQuantity = #{minimumQuantity}, maximumAcceptQuantity = #{maximumAcceptQuantity}, coinage = #{coinage},
		availableQuantity = #{availableQuantity}, safeStock = #{safeStock}, active = #{active}, netWeight = #{netWeight}, grossWeight = #{grossWeight},
		sizeWithPackage = #{sizeWithPackage}, mainImage = #{mainImage}, subImages = #{subImages}, brandId = #{brandId}, sellerId = #{sellerId},
		productTypeId = #{productTypeId}, productLine = #{productLine}, countryCode = #{countryCode} where id = #{id}
	</update>
	
	<delete id="deleteProduct" parameterType="int">
	    delete from product where id = #{id}
	</delete>
	
	<select id="getProductListByCountryAndByPage" resultType="Product">
		select * from product where countryCode = #{countryCode} 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize} 
		</if>
	</select>
	<select id="searchProductByWhat" resultType="Product">
		select * from product
		<where>
			<if test="countryCode != 0">
				countryCode = #{countryCode}
			</if>
			<if test="productName != null">
				nameInChinese like "%"#{name}"%" 
			</if>
			<if test="sellerId != 0">
				sellerId = #{sellerId}
			</if>
		</where>
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}
		</if>
	</select>
</mapper>