<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ProductLineMapper">

	<insert id="insertProductLine" parameterType="ProductLine">
		insert into productLine(name, english, parentId, level, discount, commission) values(#{name}, #{english}, #{parentId}, #{level}, #{discount}, #{commission})
	</insert>

	<select id="getProductLineById" parameterType="int" resultType="ProductLine">
		select * from productLine where id = #{id}
	</select>
	<select id="getProductLinesByParentId" parameterType="int" resultType="ProductLine">
		select * from productLine where parentId = #{parentId}
	</select>
	<update id="updateProductLine" parameterType="ProductLine">
		update productLine set name = #{name}, english = #{english}, discount = #{discount}, commission = #{commission} where id = #{id}
	</update>
	<delete id="deleteProductLine" parameterType="int">
		delete from productLine where id = #{id}
	</delete>
	

</mapper>