<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ProductLineMapper">

	<insert id="insertProductLine" parameterType="ProductLine">
		insert into ProductLine(name, english, parentId, level) values(#{name}, #{english}, #{parentId}, #{level})
	</insert>

	<select id="getProductLineById" parameterType="int" resultType="ProductLine">
		select * from ProductLine where id = #{id}
	</select>
	<select id="getProductLinesByParentId" parameterType="int" resultType="ProductLine">
		select * from ProductLine where parentId = #{parentId}
	</select>
	<update id="updateProductLine" parameterType="ProductLine">
		update ProductLine set name = #{name}, english = #{english}
	</update>
	<delete id="deleteProductLine" parameterType="int">
		delete from ProductLine where id = #{id}
	</delete>
	

</mapper>