<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.SalePropertyValueMapper">
	<select id="getSalePropertyValueById" parameterType="int" resultType="SalePropertyValue">
		select vid, vname as name, english, isChinese  from salepropertyvalue where vid = #{id}
	</select>
</mapper>