<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.SaleSubPropertyMapper">
	<select id="getSaleSubPropertyListByCategoryId" parameterType="int" resultType="SaleSubProperty">
		select pid, pname, english, isChinese, mustproperty, vid  from saleproperty where cid = #{cid}
	</select>
	<select id="getSaleSubPropertyByPid" resultType="SaleSubProperty">
		select pid, pname, english, isChinese, mustproperty, vid  from saleproperty where pid = #{pid} and cid =#{cid}
	</select>
	
	<select id="getSaleSubPropertyById" parameterType="int" resultType="SaleSubProperty">
		select pid, pname, english, isChinese, mustproperty, vid  from saleproperty where pid = #{id}  limit 1
	</select>
	
	<select id="getSaleSubPropertyListByPage" parameterType="Page" resultType="SaleSubProperty">
		select distinct(pid), pname, english, isChinese, mustproperty, vid  from saleproperty limit #{numBegin}, #{pageSize}
	</select>
	<update id="updateSaleSubPropertyById" parameterType="SaleSubProperty">
		update saleproperty set pname = #{pname}, english = #{english} where pid = #{pid}
	</update>
	
</mapper>