<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.SellerMapper">
	<select id="getSellerByEmail" parameterType="String" resultType="Seller">
		select * from seller where email = #{email}
	</select>
	
	<select id="getSellerByEmailAndPassword" parameterType="Seller" resultType="Seller">
		select * from seller where email = #{param1} and password = #{param2}
	</select>
	
	<insert id="insertSeller" parameterType="Seller" useGeneratedKeys="true">
		insert into seller(
		 email, password, businessName,
		 firstName, lastName, businessAddress,
		 city, state, country, primaryPhoneNumber,
		 productLines, secondPhoneNumber, companyWebsiteAddress, accountStatus)
		values
		(#{email}, #{password}, #{businessName},
		 #{firstName}, #{lastName}, #{businessAddress},
		 #{city}, #{state}, #{country}, #{primaryPhoneNumber},
		 #{productLines}, #{secondPhoneNumber}, #{companyWebsiteAddress}, 1
		) 
		<selectKey keyProperty="id" resultType="int" order="AFTER">  
	        SELECT LAST_INSERT_ID()
	    </selectKey> 
	</insert>
	<update id="updateSeller" parameterType="Seller">
	    update seller set 
	    	password = #{password}, businessName = #{businessName}, 
	    	firstName  = #{firstName}, lastName = #{lastName}, businessAddress = #{businessAddress},
	    	city = #{city}, state = #{state}, country = #{country}, primaryPhoneNumber = #{primaryPhoneNumber},
	    	productLines = #{productLines}, secondPhoneNumber = #{secondPhoneNumber}, companyWebsiteAddress = #{companyWebsiteAddress},
	    	accountStatus = #{accountStatus}
	     where email = #{email}
	</update>
	<select id="getSellerListByPage" parameterType="Page" resultType="Seller">
		select * from seller order by id desc 
		<if test="page != null">
			limit #{page.numBegin}, #{page.pageSize}	    
		</if>
	</select>
	<select id="getSellerById" parameterType="int" resultType="Seller">
		select * from seller where id = #{id}
	</select>
</mapper>