<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omartech.tdg.mapper.SellerHelpServiceMapper">
	<select id="getSellerHelpService"  resultType="SellerHelpService">
		select * from sellerHelpService where id = 0
	</select>
	
	<insert id="insertSellerHelpService" parameterType="SellerHelpService">
		insert into sellerHelpService(
			id, aboutUs, businessProcess, companyService, 
			contactUs, joinUs, isChinese, platformHelp
		) values(
			#{id}, #{aboutUs}, #{businessProcess}, #{companyService},
			#{contactUs}, #{joinUs}, #{isChinese}, #{platformHelp}
		)
	</insert>
	<update id="updateSellerHelpService" parameterType="SellerHelpService">
		update sellerHelpService set 
			aboutUs = #{aboutUs}, businessProcess = #{businessProcess}, 
			companyService = #{companyService}, contactUs = #{contactUs}, 
			joinUs = #{joinUs}, isChinese = #{isChinese} , platformHelp = #{platformHelp} 
		where id = 0
	</update>

</mapper>