<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omartech.tdg.mapper.SellerIndexMapper">
	<select id="getSellerIndex"  resultType="SellerIndex">
		select * from sellerIndex where id = 0
	</select>
	
	<insert id="insertSellerIndex" parameterType="SellerIndex">
		insert into sellerIndex(id, picturePath, textContent, isChinese) values(#{id}, #{picturePath}, #{textContent}, #{isChinese})
	</insert>
	<update id="updateSellerIndex" parameterType="SellerIndex">
		update sellerIndex set picturePath = #{picturePath}, textContent = #{textContent}, isChinese = #{isChinese} where id = 0
	</update>

</mapper>