<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ShopSettingMapper">
	<insert id="insertShopSetting" parameterType="ShopSetting">
		insert into shopSetting(
				sellerId, shippingCountry,backAddress,useSystemStoreAddress, 
				shippingPromiseDays, title, description, defaultCoinage, 
				bankName, bankCity, bankAddress, swiftCode, accountName, accountNumber)
			values(
				#{sellerId}, #{shippingCountry}, #{backAddress}, #{useSystemStoreAddress},
				#{shippingPromiseDays}, #{title}, #{description}, #{defaultCoinage}, 
				#{bankName}, #{bankCity}, #{bankAddress}, #{swiftCode}, #{accountName}, #{accountNumber}
			)
	</insert>
	<select id="getShopSettingById" parameterType="int" resultType="ShopSetting">
		select * from shopSetting where id = #{id}
	</select>
	
	<select id="getShopSettingBySellerId" parameterType="int" resultType="ShopSetting">
		select * from shopSetting where sellerId = #{sellerId}
	</select>
	
	<update id="updateShopSetting" parameterType="ShopSetting" >
		update shopSetting set 
			shippingCountry = #{shippingCountry},
			shippingPromiseDays = #{shippingPromiseDays},
			title = #{title},
			titleInChinese = #{titleInChinese},
			description = #{description},
			descriptionInChinese = #{descriptionInChinese},
			defaultCoinage = #{defaultCoinage},
			bankName = #{bankName},
			bankCity = #{bankCity},
			bankAddress = #{bankAddress},
			swiftCode = #{swiftCode},
			accountName = #{accountName},
			accountNumber = #{accountNumber},
			backAddress = #{backAddress},
			useSystemStoreAddress = #{useSystemStoreAddress}
		where id = #{id}
	</update>
	<update id="translateShopSetting" parameterType="ShopSetting" >
		update shopSetting set titleInChinese = #{titleInChinese}, descriptionInChinese = #{descriptionInChinese}, backAddress = #{backAddress} where id = #{id}
	</update>
</mapper>