<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ShopSettingMapper">
	<insert id="insertShopSetting" parameterType="ShopSetting">
		insert into shopsetting(
				sellerId, shippingCountry, shippingPromiseDays, title, description, defaultCoinage, bankName, bankCity, bankAddress, swiftCode, accountName, accountNumber)
			values(#{sellerId}, #{shippingCountry}, #{shippingPromiseDays}, #{title}, #{description}, #{defaultCoinage}, #{bankName}, #{bankCity}, #{bankAddress},
				#{swiftCode}, #{accountName}, #{accountNumber})
	</insert>
	<select id="getShopSettingById" parameterType="int" resultType="ShopSetting">
		select * from shopsetting where id = #{id}
	</select>
	
	<select id="getShopSettingBySellerId" parameterType="int" resultType="ShopSetting">
		select * from shopsetting where sellerId = #{sellerId}
	</select>
	
	<update id="updateShopSetting" parameterType="ShopSetting" >
		update shopsetting set 
			shippingCountry = #{shippingCountry},
			shippingPromiseDays = #{shippingPromiseDays},
			title = #{title},
			titleInChinese = #{titleInChinese},
			description = #{description},
			descriptionInChinese = #{descriptionInChinese},
			defaultCoinage = #{defaultCoinage},
			bankName = #{bankName},
			bankCity = #{bankCity},
			bankAddress = #{bankAddress},
			swiftCode = #{swiftCode},
			accountName = #{accountName},
			accountNumber = #{accountNumber}
		where id = #{id}
	</update>
	<update id="translateShopSetting" parameterType="ShopSetting" >
		update shopsetting set titleInChinese = #{titleInChinese}, descriptionInChinese = #{descriptionInChinese} where id = #{id}
	</update>
</mapper>