<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.TranslatorMapper">
	<select id="getTranslatorById" parameterType="int" resultType="Translator">
		select * from translator where id = #{id}
	</select>
	<select id="getTranslatorByEmail" parameterType="String" resultType="Translator">
		select * from translator where email = #{email}
	</select>
	
	<select id="getTranslatorByEmailAndPassword" parameterType="Translator" resultType="Translator">
		select * from translator where email = #{param1} and password = #{param2}
	</select>
	
	<insert id="insertTranslator" parameterType="Translator">
		insert into translator(email, password, accountStatus) values(#{email}, #{password}, #{accountStatus}) 
	</insert>
	<update id="updateTranslator" parameterType="Translator">
	    update translator set password = #{password}, accountStatus = #{accountStatus} where email = #{email}
	</update>
	
	<delete id="deleteTranslator" parameterType="int">
	    delete from translator where id = #{id}
	</delete>

	<select id="getTranslatorListByPage" parameterType="Page" resultType="Translator">
	    select * from translator order by id desc  
	    <if test="page != null">
			limit #{numBegin}, #{pageSize}	    
		</if>
	</select>	
		<select id="getTranslators" resultType="Translator">
	    select * from translator where accountStatus = 3 order by id desc
	</select>	
	
</mapper>