<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.BaseFeatureMapper">
	<select id="getBaseFeatureById" parameterType="int" resultType="BaseFeature">
		select vid as id, vname as name from itempropertyvalue where vid = #{id}
	</select>
	
	<select id="getBaseFeatureListByPage" parameterType="Page" resultType="BaseFeature">
		select vid as id, vname as name from itempropertyvalue limit #{numBegin},#{pageSize}
	</select>
	
	<insert id="insertBaseFeature" parameterType="BaseFeature">
		insert into itempropertyvalue(vid, vname) values(#{id}, #{name})
	</insert>
	<update id="updateBaseFeature" parameterType="BaseFeature">
		update itempropertyvalue set vname = #{name}, english = #{english}, featureId = #{featureId}, isChinese = #{isChinese} where vid = #{id}
	</update>
	<delete id="deleteBaseFeature" parameterType="int">
		delete from itempropertyvalue where vid = #{id}
	</delete>
</mapper>