<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.HelpServiceMapper">
	<select id="getHelpService"  resultType="HelpService">
		select * from helpservice
	</select>
	
	<insert id="insertHelpService" parameterType="HelpService">
		insert into helpservice(tradeRules, shoppingProcess, orderStatus, vipIntroduction, FAQ, contactCustomService, afterSalePolicy, cashAfterDelivery, priceProtect, refundInstruction, thirdPartyExpress, isChinese, isSeller) values(#{tradeRules}, #{shoppingProcess}, #{orderStatus}, #{vipIntroduction}, #{FAQ}, #{contactCustomService}, #{afterSalePolicy}, #{tradeRules}, #{cashAfterDelivery}, #{priceProtect}, #{refundInstruction}, #{thirdPartyExpress}, #{isChinese}, #{isSeller})
	</insert>
	<update id="updateHelpService" parameterType="HelpService">
		update helpservice set tradeRules = #{tradeRules} and shoppingProcess = #{shoppingProcess} and orderStatus = #{orderStatus} and vipIntroduction = #{vipIntroduction} and FAQ = #{FAQ} and contactCustomService = #{contactCustomService} and cashAfterDelivery = #{cashAfterDelivery} and priceProtect = #{priceProtect} and refundInstruction = #{refundInstruction} and thirdPartyExpress = #{thirdPartyExpress} and isChinese = #{isChinese} and isSeller = #{isSeller}
	</update>
</mapper>