<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.HelpServiceMapper">
	<select id="getHelpService"  resultType="HelpService">
		select * from helpservice where id = 0
	</select>
	
	<insert id="insertHelpService" parameterType="HelpService">
		insert into helpservice(tradeRules, shoppingProcess, orderStatus, vipIntroduction, FAQ, contactCustomService, afterSalePolicy, cashAfterDelivery, payOnline, priceProtect, refundInstruction, thirdPartyExpress, isChinese, id) values(#{tradeRules}, #{shoppingProcess}, #{orderStatus}, #{vipIntroduction}, #{FAQ}, #{contactCustomService}, #{afterSalePolicy}, #{tradeRules}, #{cashAfterDelivery}, #{payOnline}, #{priceProtect}, #{refundInstruction}, #{thirdPartyExpress}, #{isChinese}, #{id})
	</insert>
	<update id="updateHelpService" parameterType="HelpService">
		update helpservice set tradeRules = #{tradeRules}, shoppingProcess = #{shoppingProcess}, orderStatus = #{orderStatus}, vipIntroduction = #{vipIntroduction}, FAQ = #{FAQ}, contactCustomService = #{contactCustomService}, cashAfterDelivery = #{cashAfterDelivery}, payOnline = #{payOnline}, priceProtect = #{priceProtect}, refundInstruction = #{refundInstruction}, thirdPartyExpress = #{thirdPartyExpress}, isChinese = #{isChinese} where id = 0
	</update>
</mapper>