<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omartech.tdg.mapper.ProductMapper">
	<select id="getProductById" parameterType="int" resultType="Product">
		select * from product where id = #{id}
	</select>
	<select id="getProductListByPage" parameterType="Page" resultType="Product">
		select * from product order by id desc limit #{numBegin}, #{pageSize}
	</select>
	<select id="getProductsInCategoryByPage" resultType="Product">
		select * from product order where categoryId = #{categoryId} by id desc limit #{page.numBegin}, #{pageSize}
	</select>
	<insert id="insertProduct" parameterType="Product">
	    insert into product(
	    	name, description, retailPrice, promotionPrice, promotionTime, wholePrice,
	    	minimumQuantity, maximumAcceptQuantity, availableQuantity, safeStock, active,
	    	netWeight, grossWeight, sizeWithPackage, mainImage, subImages, brandId, basicParams, hasChildren,
	    	sellerId, productTypeId, categoryId)
	    values(
	    	#{name},#{description},#{retailPrice},#{promotionPrice},#{promotionTime},#{wholePrice},
	    	#{minimumQuantity},#{maximumAcceptQuantity},#{availableQuantity},#{safeStock},#{active},
	    	#{netWeight},#{grossWeight},#{sizeWithPackage},#{mainImage},#{subImages},#{brandId}, #{basicParams}, #{hasChildren},
	    	#{sellerId},#{productTypeId}, #{categoryId}
	    )
	    <selectKey keyProperty="id" resultType="long">  
	        select @@identity as id
	    </selectKey>  
	</insert>
	<delete id="deleteProduct" parameterType="int">
	    delete from product where id = #{id}
	</delete>
</mapper>